

.left-align {
    margin-right: 0px;
    margin:20px;
    padding-left: 20px;
    position:relative;
    width:620px;
    float: left; 
    left:38px;
    padding-top: 20px;

}

.right-align {
    left:-100px;
    position:relative;
    float: right; /* Aligns to the right */
}

#skills{
    top:40px;
    padding:30px;
    position:relative;
    background-color:#1f1f21 ;
    width:100%;
}

.left-align img{
    padding:1px;
}

#skills .sk {
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0px;
    color: #EFE7D3;

}

#skills .skk {
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0px;
    color: #EFE7D3;

}

.main-menu{

    width:2px;
}